$white: #fff;

.header {
  padding: 30px 15px 0 15px;

  &__rowInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__box {
      display: flex;
      gap: 15px;
      align-items: center;

      color: $white;

      & p {
        padding: 0;
        margin: 0;

      }

      & img {
        width: 30px;
      }
    }
  }
}


@media (max-width: 576px) {
  .header {
    &__rowInfo {
      &__box {
        & p {
          font-size: 12px;
        }

        & a {
          font-size: 11px;
        }
      }
    }
  }
}
