.footer {
  width: 100%;
  border-top: 2px solid #ffffff;
  margin-top: 20px;
  &__image {
    margin-bottom: 30px;
    text-align: center;
  }

  &__image a img {
    width: 30%;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;

    & address {
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__menu {
    text-align: center;
    color: #fff;

    & h3 {
      margin-bottom: 30px;
    }

    & ul {
      flex-direction: column;

    }
    & ul li:nth-child(2) {
      display: none;
    }

    & ul li a {
      color: #fff;

      &[aria-current=page] {
        border: none;
      }
    }

    h4 {
      color: #fff;
      margin-bottom: 30px;
    }

    &__link {
      color: #fff;
      display: flex;
      flex-direction: column;
      height: 50%;
      align-items: center;
      gap: 30px;
    }

  }

}



