$white: #fff;
$dark-text-color: #363636;

.navbar {
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-radius: 50px;
  position: relative;
  top: 45px;
  z-index: 4;

  &__logo {
    width: 200px;
    height: 115px;
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    gap: 15px;
    text-transform: uppercase;
    & > li > a {
      color: $dark-text-color;
      font-size: 15px;
    }
  }
}

[aria-current="page"] {
  color: #ff0101 !important;
  transition: 0.4s;
}

@media (max-width: 960px) {
  .navbar {
    &__menu {
      display: none;
    }

    &__logo  {
      width: 150px;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    &__logo {
      width: 100px;
    }
  }
}